body {
  background-color: #19171c; /* Cor de fundo escura */
  color: #ffffff; /* Cor do texto */
  font-family: "Arial", sans-serif; /* Fonte */
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #9146ff; /* Cor roxa da Twitch */
}

.stream-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.stream-card {
  background-color: #2c2541; /* Cor de fundo escura */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra do card */
  width: 300px;
  transition: transform 0.3s ease; /* Adicionamos uma transição no transform */
}

.stream-card:hover {
  transform: translateY(-5px); /* Movimento para cima no hover */
}

.stream-card img {
  width: 100%;
  height: auto;
}

.stream-details {
  padding: 10px;
  color: #ffffff; /* Cor do texto dentro do card */
}
